{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex justify-center items-center h-screen bg-gray-100">
        <div class="w-full max-w-md"> 
            <h1 class="mb-5 text-3xl text-center">Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, {'attr': {'class': 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}
                <div class="flex flex-wrap -mx-3 mb-6"> 
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        {{ form_row(registrationForm.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                        {{ form_row(registrationForm.lastname, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        {{ form_row(registrationForm.firstname, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                        {{ form_row(registrationForm.adress, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                    </div>
                </div>
                <div class="mb-4">
                    {{ form_row(registrationForm.zipcode, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                    {{ form_row(registrationForm.city, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                </div>
                <div class="mb-6">
                    {{ form_row(registrationForm.plainPassword, {
                        'label': 'Password',
                        'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline'}
                    }) }}
                </div>
                <div class="flex items-center justify-between">
                    {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'mr-2'}}) }}
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Register
                    </button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
